dashboard-flow.json
[{"id":"63106e5e.629818","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cb8f73cf.6d4ef8","type":"ncd-gateway-node","z":"63106e5e.629818","name":"","connection":"3a674906.5b9e76","unknown_devices":0,"outputs":1,"x":410,"y":420,"wires":[["79fd4c6e.0ef7e4","843ba479.581618"]]},{"id":"79fd4c6e.0ef7e4","type":"debug","z":"63106e5e.629818","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":200,"wires":[]},{"id":"16c26f1f.2f4789","type":"ui_gauge","z":"63106e5e.629818","name":"","group":"44353694.57bb3","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"F","format":"{{msg.payload.sensor_data.temperature}}","min":"-40","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1070,"y":60,"wires":[]},{"id":"843ba479.581618","type":"switch","z":"63106e5e.629818","name":"","property":"payload.addr","propertyType":"msg","rules":[{"t":"eq","v":"00:13:a2:00:41:c3:d0:e0","vt":"str"},{"t":"eq","v":"00:13:a2:00:41:c3:d0:e1","vt":"str"},{"t":"eq","v":"00:13:a2:00:41:c3:d0:e2","vt":"str"},{"t":"eq","v":"00:13:a2:00:41:c3:d0:e3","vt":"str"},{"t":"eq","v":"00:13:a2:00:41:c3:d0:e4","vt":"str"},{"t":"eq","v":"00:13:a2:00:41:c3:d0:e5","vt":"str"},{"t":"eq","v":"00:13:a2:00:41:c3:d0:e6","vt":"str"},{"t":"eq","v":"00:13:a2:00:41:c3:d0:e7","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":640,"y":420,"wires":[["4a01c6d8.77e748","a15dc32.34617c"],["e68d4290.3870c8","164c37f3.e33e2"],[],[],[],[],[],[]]},{"id":"4a01c6d8.77e748","type":"ui_gauge","z":"63106e5e.629818","name":"","group":"44353694.57bb3","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"%","format":"{{msg.payload.sensor_data.humidity}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":100,"wires":[]},{"id":"a15dc32.34617c","type":"function","z":"63106e5e.629818","name":"","func":"msg.payload.sensor_data.temperature = msg.payload.sensor_data.temperature*1.8+32.00\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":60,"wires":[["16c26f1f.2f4789"]]},{"id":"483be862.e7bd5","type":"ui_gauge","z":"63106e5e.629818","name":"","group":"e069f183.ba2b58","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"F","format":"{{msg.payload.sensor_data.temperature}}","min":"-40","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1070,"y":140,"wires":[]},{"id":"164c37f3.e33e2","type":"ui_gauge","z":"63106e5e.629818","name":"","group":"e069f183.ba2b58","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"%","format":"{{msg.payload.sensor_data.humidity}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":180,"wires":[]},{"id":"e68d4290.3870c8","type":"function","z":"63106e5e.629818","name":"","func":"msg.payload.sensor_data.temperature = msg.payload.sensor_data.temperature*1.8+32.00\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":140,"wires":[["483be862.e7bd5"]]},{"id":"3a674906.5b9e76","type":"ncd-gateway-config","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"/dev/ttyS1","baudRate":"115200","pan_id":"7FFF","rssi":false},{"id":"44353694.57bb3","type":"ui_group","name":"Sensor 1","tab":"ad035b15.579c1","order":1,"disp":true,"width":"6","collapse":false},{"id":"e069f183.ba2b58","type":"ui_group","name":"Sensor 2","tab":"ad035b15.579c1","order":2,"disp":true,"width":"6","collapse":false},{"id":"ad035b15.579c1","type":"ui_tab","name":"Temperature/Humidity Readings","icon":"dashboard","disabled":false,"hidden":false}]